<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="/icons/favicon.ico">
		<title>CSWQM</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	</head>
	<body>
		<h2>
			<p align="center">Citizen Science Water Quality Mapping</p>
		</h2>
    <div class="wrapper">
      <section class="columns">
        <div class="column">
          <div id="map" style="width: 100%; height: 100%"></div>
          <script>
              // Create variable to hold map element, give initial settings to map
              var map = L.map('map',{ center: [30.44, -87.18], zoom: 13});
              L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', { 
                  attribution: '© OpenStreetMap'
                }).addTo(map);
                //Below is JS way to deal with map not loading 
                //all tiles on load as described here
                //https://stackoverflow.com/questions/38832273/leafletjs-not-loading-all-tiles-until-moving-map
                var delayInMilliseconds = 0; //1 second
                  setTimeout(function() {
                    map.invalidateSize();
                }, delayInMilliseconds);                
          </script>
        </div>
        
        <div class="column">
          <h2>Map Controls</h2>
          <label for="waterbody">Select a water body</label>
          <form id="water_body_frm_id" 
            action="/select_water_body" 
            method="post"
            name="water_body_frm">
            <select name="water_body">
              <option>Bayou Texar</option>
              <option selected="selected">Escambia Bay</option>
            </select>
            <input type="submit"/>
          </form>
          <hr size="5">
          <p>Upload new water quality data:</p>
          <form id      =  "uploadForm"
            enctype   =  "multipart/form-data"
            action    =  "/upload_csv"
            method    =  "post">
            <input type="file" name="userFile" />
            <input type="submit" value="Upload File" name="submit">
          </form>
          <hr size="5">
          <p>Latest uploads: </p>
          <table style="width:100%" border=".25">
            <tr>
              <th>Username</th>
              <th>Date</th> 
              <th>Water body</th>
            </tr>
            <tr>
              <td>austin</td>
              <td>1/12/19</td>
              <td>Bayou Texar</td>
            </tr>
            <tr>
              <td>snider</td>
              <td>1/17/19</td>
              <td>Escambia Bay</td>
            </tr>
            <tr>
              <td>schwartz</td>
              <td>1/10/19</td>
              <td>Escambia Bay</td>
            </tr>
          </table>
        </div>
      </section>	
      <footer>
          <h3>About:</h3>
          <p>Developed by Adkison & Morgan (2019) in conusultation with Dr. Schwartz and Dr. Snider
            of the University of West Florida Earth & Environmental Science department to support the 
            proposed the creation of the Escambia Water Quality Academy (EWQA)</p>
            <p>Previous iterations of this project are:</p>
            <ul>
              <li>Adkison's undergraduate <a href="https://jderekito.github.io/water_quality/index2.html" target="_blank">project</a></li>
              <li>Evan's undergraduate <a href="https://jderekito.github.io/water_quality/" target="_blank">project</a></li>
            </ul>
      </footer>
		</div>
	</body>
</html>
